<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>

<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL Example for one date in station: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
    <p>URL Example for all dates in station: http://127.0.0.1:5000/api/v1/10</p>
    <p>URL Example for one year: http://127.0.0.1:5000/api/v1/year/10/1988</p>
    <p>{{data|safe}}</p>
</body>

</html>